<% provide(:title, "Hem") %>
<div class="center jumbotron">
	<h2>Välkommen till min startsidan</h2>
	<p>akdjaskldjaslkdjasdlkasjdlkasjdlkasjdlkasjdlka</p>
	<%= link_to "Registera dig nu!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
