<% provide(:title, "Hem") %>
<div class="center jumbotron">

	<% if logged_in? %>
    <h2>Api för Svenska löpartävlingar</h2>
    <%= link_to "Hur man använder api:et", api_guide_path, class: "btn btn-lg btn-primary" %>
  <% else %>
    <h1>Välkommen!</h1>
    <p>
      Detta är ett api för löpartävlingar i Sverige. Skapa ett konto för att använda
      api:et i din applikation.
    </p>
    <%= link_to "Registrera dig nu!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>
