<% provide(:title, "Hem") %>
<div class="center jumbotron">
	<h2>Välkommen till min sida</h2>
	<p>akdjaskldjaslkdjasdlkasjdlkasjdlkasjdlkasjdlka</p>
	<% unless logged_in? %>
		<%= link_to "Registera dig nu!", signup_path, class: "btn btn-lg btn-primary" %>
	<% end %>
</div>
