<% provide(:title, "Redigera applikation") %>
<% provide(:button_text, "Spara ändringar") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Redigera applikation</h1>
    <%= render 'user_application_form' %>
  </div>
</div>
