<% if @developer.errors.any? %>
  <div id="error_explanation" class="message error">
    <strong>Formuläret innehåller <%= @developer.errors.count %> fel</strong>
    <ul>
    <% @developer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>