<% if @user.errors.any? %>
  <div id="error_explanation" class="message error">
    <strong>Formuläret innehåller <%= @user.errors.count %> fel</strong>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
