<% if object.errors.any? %>
  <div id="error_explanation" class="message error">
    <strong>Formuläret innehåller <%= object.errors.count %> fel</strong>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
